/* CSS VARIABLES */
html {
  /* --color-nab-fill: rgb(92, 19, 114); */
  --color-nav-fill: white;
  /* rgb(112, 51, 7) */
}

p {
  margin: 0 auto !important;
}

/* ---------------------------------------------------- SMALLER DEVICES CSS ---------------------------------------------------- */
@media only screen and (max-width: 991px) {
  .nav-item .icon-container {
    display: none !important;
  }
  .nav-item {
    height: 2.4rem !important;
    /* padding: 0.1rem 1rem !important; */
  }
  .zoom {
    transition: transform 0s !important;
  }

  .zoom:hover {
    -ms-transform: scale(1) !important; /* IE 9 */
    -webkit-transform: scale(1) !important; /* Safari 3-8 */
    transform: scale(1) !important;
  }
  #type-greeting-container {
    font-size: 3.5vmax !important;
  }
  #more-button {
    /* padding: 1vmax 1vmax 1vmax 1vmax;
    font-size: 2vmax; */
    padding: 1.2vmax 2vmax;
    font-size: 2.2vmax;
  }
}

/* prevent navbar collapse drop down to fit the minimum possible height of the browser */
@media only screen and (max-width: 991px) and (max-height: 287px) {
  .nav-item {
    height: 2.27rem !important;
  }
}

/* prevent side bar nav items on home to overflow with max width (1200px - max width) and min height */
@media only screen and (max-height: 330px) {
  .side-nav-item {
    padding: 0.65vmax 1.5vmax !important;
  }
  .side-nav-item:hover + .side-nav-item-text {
    display: flex;
    /* padding: 0.95vmax; */
    /* padding-top: 1.5vmax; */
    padding-top: 14px !important;
    color: white;
  }
}

/* Put the sidebar and bottom contact bar on home component on top and bottom center */
@media only screen and (max-width: 745px) {
  #side-nav {
    /* display: none !important; */
    flex-direction: row !important;
    width: 100vw !important;
    max-width: 100vw !important;
    height: auto !important;
  }
  .side-nav-item {
    padding: 0.95vmax 2vmax !important;
  }
  .side-nav-item-text {
    display: none !important;
  }
  #bottom-bar-contact {
    width: 100vw !important;
    align-items: center !important;
    justify-content: center !important;
    right: 0% !important;
    max-width: 100vw !important;
  }
  .side-nav-icon-container {
    font-size: 2.5vmax !important;
  }
}

/* -------------------------------------------------------- COMMON CSS -------------------------------------------------------- */
.zoom {
  transition: transform 0.015s;
}

.zoom:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.with-navbar-component {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 50px;
}

/* ---------------------------------------------------- APP COMPONENT CSS ---------------------------------------------------- */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------------------------------------------- NAVBAR COMPONENT CSS ---------------------------------------------------- */

#responsive-navbar-toggle:focus {
  outline: 0;
}

#navbar {
  background-color: #11658e;
}

.nav-item {
  margin-right: 0.5rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem;
  color: #ded9d9;
  height: 3.2rem;
  font-weight: 545;
  /* no select */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.nav-item:not(.active):hover,
.side-nav-item:not(.active):hover {
  color: var(--color-nav-fill);
  text-decoration: none;
}

.nav-item:not(.active):after,
.side-nav-item:not(.active):after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 2.3px;
  width: 0;
  border-bottom: 1px solid var(--color-nav-fill);
  transition: width 0.3s ease, var(--color-nav-fill) 0.3s ease;
}
.nav-item:not(.active):hover:after,
.side-nav-item:not(.active):hover:after {
  width: 100%;
  background: var(--color-nav-fill);
}

.icon-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.active {
  color: var(--color-nav-fill) !important;
  text-decoration: none !important;
}

.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 1.5px;
  width: 100%;
  color: var(--color-nav-fill) !important;
  text-decoration: none !important;
  border-bottom: 1px solid var(--color-nav-fill) !important;
}

/* ---------------------------------------------------- HOME COMPONENT CSS ---------------------------------------------------- */

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#home-background {
  background-size: cover;
  background-position: center;
  opacity: 0.57 !important;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

#side-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  height: 100vh;
  z-index: 3;
}

.side-nav-item {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 20px 25px;
  color: silver;
  font-weight: 545;
  /* no select */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.side-nav-icon-container {
  display: flex;
  position: relative;
  font-size: 1.3em;
}

.side-nav-item-text {
  display: none;
  font-size: 0.78em !important;
  font-weight: 550;
}

.side-nav-item:hover + .side-nav-item-text {
  display: flex;
  padding-top: 30px;
  color: white;
}

#type-greeting-container {
  font-family: monospace;
  padding-bottom: 10px;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 40px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* overflow: auto */
}

#greeting-name {
  color: rgb(66 176 255);
  font-weight: 550;
}

#more-button {
  background-color: rgba(43, 137, 226, 0.7);
  color: white;
  border-color: rgb(43, 127, 206);
}

#more-button:focus {
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
}

#more-button:hover {
  background-color: rgb(38, 126, 209);
  color: white;
}

#more-button-arrow {
  display: inline-block;
  padding-bottom: 1.5px;
  -o-transition: 0.35s all;
  -ms-transition: 0.35s all;
  -moz-transition: 0.35s all;
  -webkit-transition: 0.35s all;
  transition: 0.35s all;
}

#more-button:hover #more-button-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#bottom-bar-contact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 9999;
  position: absolute;
  bottom: 0%;
  right: 3%;
  font-size: 1.2em;
}

/* -------------------------------------------------------- About Component CSS -------------------------------------------------------- */
.flip-card-col {
  padding-top: 10px;
}

.flip-card {
  font-size: 1.85em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 170px !important;
  height: 135px !important;
  border-radius: 5%;
  color: white;
}

.flip-card-xs {
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 120px !important;
  height: 100px !important;
  border-radius: 5%;
  color: white;
}

/* -------------------------------------------------------- Timeline Component CSS -------------------------------------------------------- */
.timeline-logo-container {
  display: flex;
  align-items: center;
}
.timeline-logo {
  height: auto;
  width: 100%;
  max-height: 100px;
  max-width: 100px;
}

/* -------------------------------------------------------- Projects Component CSS -------------------------------------------------------- */
.project-toggle-button {
  color: rgba(36, 100, 151, 0.842) !important;
}

.project-toggle-button:focus {
  outline: 0;
}

.Mui-selected {
  color: white !important;
  background-color: rgb(36, 100, 151) !important;
}

.Mui-selected:hover {
  color: white;
  background-color: rgb(36, 100, 151) !important;
}
.project-card {
  border-radius: 4% !important;
  border: 0px !important;
}

.project-card-button:focus {
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
}

.HoverCardClass_Visible__srLqj {
  /* prevent animation glitch at the end of animation on chrome for react png library */
  transform: rotateX(0deg) !important;
}

.modal-header .close {
  color: white !important;
}

.modal-header .close:focus {
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
}

.modal-content {
  overflow: hidden;
  border-radius: 2% !important;
}

.custom-dialog {
  top: 5%;
}

.close-button-container .MuiButton-root {
  color: "#eaeaea" !important;
}

.close-button-container .MuiButton-root:hover {
  color: white !important;
}

.github-button:focus, .close-button:focus {
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
}

.github-button:hover{
  color: white !important;
  background-color: black !important;
  /* transition: transform 0s !important; */
}

/* -------------------------------------------------------- Skills Component CSS -------------------------------------------------------- */
.skills-header {
  font-size: large;
  font-weight: 500;
}

.no-selection {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/* -------------------------------------------------------- Contact Component CSS -------------------------------------------------------- */
.contact-icon-container {
  font-size: 1.8rem;
  padding: 30px;
}

.contact-icon-up {
  font-size: 3.3rem;
  margin: 18px 0px 23px 0px !important;
  color: silver;
  cursor: pointer;
}
.contact-icon-up:hover {
  color: white;
}

.references{
  font-size: 14px;
}
.references a{
  color: #76e2de;
}
.references a:hover{
  color: #76e2de;
}
